# Markdown Basics
## Markdown Basics
### Markdown Basics
#### Markdown Basics
##### Markdown Basics

* **point1**
* *point2*
* ***point3***

* normal text
* sublist 1
* sublist 2

> 1.point1
> 2.point2

* []option1
* []option2

* google site -- [1] http://www.google.com
* msn site --[2] http://www.msn.com

### Python Basics
* Python version 3.7
- Functional programming
- Object oriented programming
- Scripting Programming

In [1]:
 print("Hello,Gitam")

Hello,Gitam

In [2]:
print("Hello, Gitam")
print("Hyderabad")

Hello, Gitam
Hyderabad

In [3]:
print("Hello, Gitam" , "|||" , end=" ")
print("Hyderabad" , "|||" ,end="")
print("Python programming")

Hello, Gitam ||| Hyderabad |||Python programming

In [4]:
n1=100 # single variable assignment
a=b=c=20 # multi variable assignment of the same value
a1,b1,c1=111,222,333 # multi variable assignment with different value
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### Datatypes And Conversions
* int
* float
* string

In [5]:
a=100
s1="python"
s2="p"
f1=10.2
print(a,s1,s2,f1)
print(type(a), type(s1) , type(s2), type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>