# Markdown Basics
## Markdown Basics
### Markdown Basics
#### Markdown Basics
##### Markdown Basics

* **point1**
* *point2*
* ***point3***

* normal text
* sublist 1
* sublist 2

> 1.point1
> 2.point2

* []option1
* []option2

* google site -- [1] http://www.google.com
* msn site --[2] http://www.msn.com

### Python Basics
* Python version 3.7
- Functional programming
- Object oriented programming
- Scripting Programming

In [1]:
 print("Hello,Gitam")

Hello,Gitam

In [2]:
print("Hello, Gitam")
print("Hyderabad")

Hello, Gitam
Hyderabad

In [3]:
print("Hello, Gitam" , "|||" , end=" ")
print("Hyderabad" , "|||" ,end="")
print("Python programming")

Hello, Gitam ||| Hyderabad |||Python programming

In [4]:
n1=100 # single variable assignment
a=b=c=20 # multi variable assignment of the same value
a1,b1,c1=111,222,333 # multi variable assignment with different value
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### Datatypes And Conversions
* int
* float
* string

In [5]:
a=100
s1="python"
s2="p"
f1=10.2
print(a,s1,s2,f1)
print(type(a), type(s1) , type(s2), type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [1]:
s1=100
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(type(f))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [1]:
s1=input("Enter your name")
print(s1)
print(type(s1))

Enter your name Krithika

Krithika
<class 'str'>

In [2]:
# want a number as a input
n1=int(input("Enter a number"))
print(n1,type(n1))

Enter a number 58

58 <class 'int'>

## Operators
* operator is a symbol used to perform specific kind of operations
### Arithmetic Operators
* +
* -
* *
* /
* %
* //
- **

In [5]:
n=1234
print(n+10)
print(n-10)
print(n*10)
print(n/10)
print(n%10)
print(n//10)
print(n**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

## Precedence Of The Arth Operators

* Paranthesis
* Power
* Multiplication
* Addition

#### Left to Right

In [6]:
x = 1+2 ** 3 / 4 + 5
print(x)

8.0

In [7]:
x=1+2**3/4*5
print(x)

11.0

## Relational Operators
* =
* !=
* Greater(>)
* Less than(<)
* Less than or equal to (<=)
* Greater than or equal to (>=)

## Logical Operators
#### Used to combine more than single condition

* And
* Or
* Not

i=100
a1= (i>15) and (i<800)
a2 = (i>15) and (i>800)
print(a1)
print(a2)

#### True
#### False

### Control Flow Statements
* Conditional statements
* Looping Statements

## Syntax

## If-Else statements
If boolean_condition statements else : statements

# To check given number is even or odd

In [23]:
n=int(input("Enter a number"))
if n%2 == 0:
     print("Even")
else :
    print("Odd")

Enter a number 14

Even

### To Check If The Given Number Is A Multiple Of 3 And 5

In [28]:
n=int(input("Enter a number"))
if n%3 == 0 and n%5 ==0:
     print("Yes")
else :
    print("No")

Enter a number 0

Yes